<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
     <div class="upper">

        <div class="left">
            <h2><u>+923338006919</u></h2>
        </div>

        <div class="right">
            <h2><u>abdulahadadeel125@gmail.com</u></h2>
        </div>

     </div>

     <div class="navbar">
     <h1><u>layout</u></h1>
     </div>
      <div class="paragraph">
        <p>Web designing is the process of planning,<br> conceptualizing, and implementing the plan <br> for designing a website in a way that is <br> functional and offers a good user experience. <br> User experience is central to the web designing <br> process. Websites have an array of elements <br> presented in ways that make them easy to <br> navigate.</p>
      </div>
     
</body>
</html>